nav {
    background-color: rgb(20, 20, 20);
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
ul {
    background-color: rgb(96, 121, 121);
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    background-color:rgb(165, 233, 233); 
    padding: 30px;
    display:block;
}

.navbar-brand {
    font-size: 80px;
}
    
